<div class="header">
    <div class="container clearfix">
        <h1 class="logo"><a href="#" class="logo__text">Kohl Corp. Vacation planning</a></h1>
        <ul class="manage-block">
            <li class="manage-block__item">
                <a href="#" class="manage-block__link">Hi, Mathew</a>
            </li>
            <li class="manage-block__item">
                <a href="#" class="manage-block__link">My info</a>
            </li>
            <li class="manage-block__item">
                <a href="#" class="manage-block__link">Help</a>
            </li>
            <li class="manage-block__item">
                <a href="#" class="manage-block__link manage-block__link--log"><img src="img/ico-log.png" class="manage-block__img" alt="log">Logout</a>
            </li>
        </ul>
    </div>
</div>
